{% extends 'base.html' %}
{% block text %}
{% load static %}

<div class="container text-center " allign="center">
    <h1>{{message}}</h1>
    <h1>Contact Us</h1>
    <img src="{% static 'images/contactus.JPG' %}" >
</div>
<form action="/thankyou/" method="post">
  {% csrf_token %}
  <div class="contact-form section">
    <h2 class="section__title text-center">
      Get in touch with us
    </h2>
  </div>
  <div class="container text-center " allign="center">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for=>IdNo</label>
        <input type="number" class="form-control" name="id" id="inputid" placeholder="Id">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for=>Name</label>
        <input type="text" class="form-control" name="name" id="inputname" placeholder="Name">
      </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" name="email" id="inputemail" placeholder="Email">
    </div>
  </div>


<div class="form-row">
  <div class="form-group col-md-2">
    <div class="form">
    <div  class="form-item webform-component webform-component-select webform-component--reason">
  <label for="edit-submitted-reason">Query related to: <span class="form-required" title="This field is required.">*</span></label>
 <select required="required" class="form__control form-select required" id="edit-submitted-reason" name="submitted[reason]">
   <option value="Error" selected="selected">Select One</option>
   <option value="Suggestion">Compiler Feedback</option>
   <option value="Feedback">Error</option>
   <option value="Compiler">Suggestion</option>
   <option value="Other">Other</option>
 </select>
</div>
  </div>
  </div>
</div>
    <div class="form-group">
    <label for="message">Message</label>
    <textarea type="text"class="form-control" name="message" id="message" rows="5" placeholder="Enter Message"></textarea>
  </div>
  </div>
  </div>

  <div class="form-actions text-center">
      <button type="submit" class="btn btn-dark">Submit</button>
  </div>

</div>
</form>
</form>

{% endblock %}


